html {
  background-color: #fff;
}

.Form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.logo {
  position: absolute;
  top: -60px;
  left: 10px;
}

button {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #4e5166;
  border: 1px solid #4e5166;
  color: white;
  padding: 10px 20px;
}

button:hover {
  background: #797e9e;
  border: 1px solid #797e9e;
  color: white;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

input {
  width: 250px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #4e5166;
  padding: 0 10px;
  font-size: 20px;
  margin: 0 10px;
}

.connection-button {
  color: black;
}

div {
  color: black;
}
